/* Header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    color: #ffffff;
    position: sticky;
}

.logo__img{
    padding-left: 50px;
    height: 80px;
    filter: drop-shadow(5px 5px 4px white);
    animation: shadowAnimation 2s infinite alternate;
}

@keyframes shadowAnimation {
    from{
        filter: drop-shadow(0px 5px 4px white);
    }
    to{
        filter: drop-shadow(0px 5px 4px #292828);
    }
}

.list{
    display: flex;
    margin-right: 30px;
}

.links{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 700;
    text-shadow: 0px 0px 3px #ffffff;
}

.links:hover{
    cursor: pointer;
    transition: 0.5s;
    text-shadow: 0px 0px 20px #ffffff;
}

/* introduce */

.introduce{
    height: 520px;
    background-image: url(../img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.introduce__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduce__text{
    padding-left: 100px;
    width: 40%;
    color: #ffffff;
    text-shadow: 0px 0px 5px #ffffff;
}

.introduce__principal{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0px 0px 5px #ffffff;
}

.introduce__principal:hover{
    filter: drop-shadow(0px 0px 3px white);
    transition: 0.5s;
}

.introduce__paragraph{
    font-size: 26px;
    font-weight: 500;
}

.introduce__paragraph:hover{
    filter: drop-shadow(0px 0px 5px white);
    transition: 0.5s;
}

.introduce__img{
    width: 40%;
}

.introduce-img{
    height: 400px;
    padding-right: 100px;
    filter: drop-shadow(0px 0px 3px white);
}

.introduce-img:hover{
    filter: drop-shadow(0px 0px 7px white);
    transition: 0.5s;
}

/* Goal section */

.goal{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goal__info{
    width: 50%;
    margin-left: 100px;
}

.goal__tittle{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    filter: drop-shadow(4px 4px 2px #000000);
}

.goal__text{
    width: 75%;
    font-size: 22px;
    font-weight: 500;
}

.goal__card{
    margin-right: 100px;
}

.goal__img{
    height: 300px;
    filter: drop-shadow(5px 5px 4px #000000);
}

.goal__img:hover{
    transition: 0.5s;
    filter: drop-shadow(5px 5px 6px #000000);
}

.vision{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__list{
    width: 75%;
    font-size: 22px;
    font-weight: 500;
    
}

/* DrawIt! & E-commerce */

.conections{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 128px;
    padding-bottom: 128px;
}

.tittle__conections{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    filter: drop-shadow(4px 4px 2px #000000);
}

.content__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__conections{
    display: flex;
    justify-content: center;
}

.content__conections{
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.DrawIt{
    border-radius: 20px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-right: 50px;
    
}

.DrawIt:hover{
    transition: 0.3s;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.7);
}

.conections__tittle-DrawIt{
    padding-top: 20px;
    font-size: 28px;
    font-weight: 500;
}

.conections__tittle-Ecommerce{
    padding-top: 20px;
    font-size: 28px;
    font-weight: 500;
}


.cards__img{
    margin-top: 20px;
    height: 150px;
    filter: drop-shadow(5px 5px 4px #000000);
}


.cards__img:hover{
    transition: 0.5s;
    filter: drop-shadow(5px 5px 6px #000000);
}

.art-tech__ecommerce{
    border-radius: 20px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.art-tech__ecommerce:hover{
    transition: 0.3s;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.7);
}

.btn__show-text{
    margin-top: 20px;
    border: none;
    background-color: #dddddd;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}

.btn__show-text:hover{
    cursor: pointer;
    background-color: #c7c7c7;
}

.btn__img{
    height: 20px;
}

.conections__description{
    font-weight: 500;
    padding-top: 20px;
}